---
import { getTasks, getStarredTasks } from '@data/pocketbase'

import DeleteTaskButton from '@components/app/tasks/DeleteTaskButton.astro'
import CompleteTaskButton from '@components/app/tasks/CompleteTaskButton.astro'
import StarTaskButton from '@components/app/tasks/StarTaskButton.astro'
import TaskText from '@components/app/tasks/TaskText.astro'
import TaskImages from '@components/app/tasks/TaskImages.astro'

const { project_id, done, starred, team_id } = Astro.props

let tasks = null

if (starred) {
  tasks = await getStarredTasks({ team_id })
} else {
  tasks = await getTasks({ project_id, done })
}
---

{
  tasks.length === 0 && !starred && (
    <p class='text-center text-zinc-900 dark:text-white'>Nothing yet</p>
  )
}

<ul class='space-y-6 mb-10' x-data='dragAndDropIntoTask()'>
  {
    tasks.map(task => (
      <li
        @dragover.prevent='dragover = true'
        @dragleave.prevent='dragover = false'
        @drop.prevent='drop($event)'
        hx-put={`/app/api/project/${task.project}/task/${task.id}`}
        hx-encoding='multipart/form-data'
        hx-trigger='none'
        data-images-number={task.images.length}>
        <div class='flex justify-between gap-x-4'>
          <div class='align-top'>
            <CompleteTaskButton task={task} />
          </div>
          <div class='flex-1 mt-1'>
            <div class='flex flex-row'>
              <div class='pr-2'>
                <StarTaskButton task={task} />
              </div>
              <TaskText task={task} />
              {starred ? (
                <div>
                  <a href={`/app/project/${task.project}`}>
                    <span class='border mt-0 py-0.5 px-2 self-start rounded-md bg-zinc-800 text-sm font-bold hidden sm:block'>
                      {task.expand?.project?.name}
                    </span>
                  </a>
                </div>
              ) : (
                <div>
                  <DeleteTaskButton task={task} />
                </div>
              )}
            </div>
            <div>
              <TaskImages task={task} />
            </div>
          </div>
        </div>
      </li>
    ))
  }
</ul>
